@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al sitio de evaluación</h1>
</div>
<div><a href="/CalculadoraComisiones/Resultados">Resultados</a></div>
<div><a href="/CalculadoraComisiones/Calculadora">Calculadora</a></div>
