@model Barcos_web.Models.BarcoViewModel

@{
    ViewData["Title"] = "RegistrarBarco";
}

<h1>RegistrarBarco</h1>

<h4>BarcoViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Registrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Antiguedad" class="control-label"></label>
                <input asp-for="Antiguedad" class="form-control" />
                <span asp-validation-for="Antiguedad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TripulacionMaxima" class="control-label"></label>
                <input asp-for="TripulacionMaxima" class="form-control" />
                <span asp-validation-for="TripulacionMaxima" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
